@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

.player {
    width: 200px;
    transition: all 0.3s linear;
    z-index: 10;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 28px; */
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 3px;
    padding-left: 30px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    /* content: "\2713"; */
    content: ' ';
    position: absolute;
    left: 0;
    top: 1px;
    font-weight: 900;
    width: 30px;
    height: 30px;
    background-size: 20px 20px;
    background-image: url("../assets/svg/play.svg");
    background-repeat: no-repeat;
}

.item-active::before {
    background-image: url("../assets/svg/pause.svg");
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    margin: 3px;
    background-size: 40px 40px;
    background-image: url("../assets/svg/play.svg");
}

.pause {
    background-image: url("../assets/svg/pause.svg");
}

.play-prev {
    background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
    background-image: url("../assets/svg/play-next.svg");
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
    transition: all 0.3s linear;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
    transition: all 0.3s linear;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
    transition: all 0.3s linear;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    /* width: 100vw; */
    font-size: 40px;
    transition: all 0.3s linear;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name::placeholder {
    color: #fff;
    opacity: .6;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 25vh;
    min-height: 160px;
    padding: 20px;
    transition: 0.3s;
}

.change-quote {
    margin-bottom: 30px;
    background-image: url("../assets/svg/reload.svg");
}

.quote {
    min-height: 32px;
}

.author {
    min-height: 20px;
}


/* player custom */

.player-timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.timeline {
    background: white;
    width: 70%;
    height: 7px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    margin-right: 3px;
}

.progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}

.time-song {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current,
.divider,
.length-song {
    display: flex;
    padding: 3px;
}

.player-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2px;
}


/* Volume */

.volume-container {
    display: flex;
    align-items: center;
}

.volume-button {
    display: flex;
    align-items: center;
    margin: 12px;
    margin-right: 5px;
}

.volume-slider {
    background: white;
    width: 50px;
    height: 3px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    margin-right: 3px;
}

.volume-percentage {
    background: rgb(228, 239, 122);
    width: 0%;
    height: 100%;
    transition: 0.25s;
}


/* settings */

.settings-menu {
    width: 30px;
    position: absolute;
    left: 2%;
    top: 93%;
}

.hidden-icon {
    left: -400px;
}

.settings-menu svg {
    fill: white;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    /* height: 200px; */
    position: absolute;
    left: 15px;
    opacity: 0;
    visibility: hidden;
    top: 46%;
    background: rgb(31 33 18 / 97%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: 0.5px solid rgb(228, 239, 122);
    z-index: 1000;
    transition: all 0.3s linear;
}

.hidden {
    opacity: 1;
    visibility: visible;
}

.settings h3 {
    padding: 10px;
}

.cross,
.cross-list {
    position: absolute;
    top: 13px;
    right: 13px;
}

.cross svg,
.cross-list svg {
    width: 16px;
    height: 16px;
    fill: white;
    fill-opacity: 0.7;
}

.choose-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    gap: 15px;
}

.choose-lang button {
    width: 40px;
    height: 20px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: 0.5px solid rgb(228, 239, 122);
    background-color: rgb(228, 239, 122)
}

.choose-img {
    display: flex;
    flex-direction: column;
}

.choose-img-p {
    padding-bottom: 25px;
    padding-top: 10px;
}

.choose-source {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.choose-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.choose-tag button {
    width: 60px;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: 0.5px solid rgb(228, 239, 122);
    background-color: rgb(228, 239, 122)
}

.choose-tag input {
    width: 120px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

.hide-blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.blocks p {
    padding-bottom: 10px;
    padding-top: 15px;
}

.hide-blocks div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 5px;
    padding-bottom: 5px;
}


/* toDList */

.toDoListAll {
    transition: all 0.3s linear;
}

.toDo-menu {
    width: 30px;
    position: absolute;
    right: 2%;
    top: 93%;
}

.toDo-menu svg {
    fill: white;
}

.toDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    right: 15px;
    /* right: -405px; */
    bottom: 2%;
    background: rgb(31 33 18 / 97%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: 0.5px solid rgb(228, 239, 122);
    z-index: 1000;
    transition: all 0.3s linear;
}

.active {
    opacity: 1;
    visibility: visible;
}

.toDo h3 {
    padding: 10px;
    padding-bottom: 5px;
}

.textTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addTask {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #fff;
    border: 0;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 10px;
}

.in {
    width: 80%;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 10px;
}

.add {
    width: 30%;
    height: 25px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    border: 0.5px solid rgb(228, 239, 122);
    background-color: rgb(228, 239, 122);
}

.list-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 30px;
}

.task-text {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.out {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    font-size: 20px;
}

.delete {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    border: 0.5px solid rgb(228, 239, 122);
    background-color: rgb(228, 239, 122);
}

.delete svg {
    width: 15px;
    height: 15px;
    fill: #d44747;
}


/* hidden block */

.hidden-block {
    opacity: 0;
    visibility: hidden;
}


/* стилизация checkbox */

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 25px;
    height: 18px;
}

.checkbox+label {
    cursor: pointer;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox:not(checked)+label {
    position: relative;
    padding: 0 0 0 30px;
}

.checkbox:not(checked)+label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 14px;
    border-radius: 8px;
    background: rgb(228, 239, 122);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox:not(checked)+label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 9px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s;
}

.checkbox:checked+label:before {
    background: #CDD1DA;
}

.checkbox:checked+label:after {
    left: 13px;
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: -35px -20px 6px -7px;
}

.radio+label {
    cursor: pointer;
}

.radio:not(checked) {
    /* position: absolute; */
    /* opacity: 0; */
    visibility: hidden;
}

.radio:not(checked)+label {
    position: relative;
    padding: 20px 0 15px 20px;
}

.radio:not(checked)+label:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 35px;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked)+label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 39px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(228, 239, 122);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.radio:checked+label:after {
    opacity: 1;
}


/* checkbox */

.label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.input {
    display: none;
}

.label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgb(228, 239, 122);
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.input:checked+.label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #d44747;
    text-align: center;
    line-height: 15px;
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }
    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }
    .greeting {
        padding: 5px;
    }
    .name {
        font-size: 32px;
        padding: 5px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 40vh;
        padding: 20px;
        transition: 0.3s;
    }
    .toDo-menu {
        right: -15%;
    }
}